:root {
    --fondo1: #20201eff;
    --fondo2: #2c2c29;
    --text1: #3F3F3B;
    --text2: #EBEBEB;
    --principal: #F0D16A;
}

@font-face {
    font-family: DMSans;
    src: url('assets/fonts/Bebas_Neue_DM_Sans/DM_Sans/DMSans-VariableFont_opszwght.ttf');
}

@font-face {
    font-family: Neue;
    src: url('assets/fonts/Bebas_Neue_DM_Sans/Bebas_Neue/BebasNeue-Regular.ttf');
}

body {
    margin: 0;
    font-family: DMSans;
}

/*HEADER*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.header-input{
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    padding: 0.5rem 1rem;
    width: 15rem;
}
.header-navMenu img {
    width: 10rem;
}
.header-navMenu ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 3rem;
}
.header-navMenu ul li a {
    text-decoration: none;
    color: var(--text1);
    font-size: 17px;
    transition: 0.3s ease;
}
.header-navMenu ul li:not(.header-img-li) a:hover {
    background-color: var(--principal);
}
.header-actionMenu {
    display: flex;
    gap: 1rem;
}
.header-actionMenu button {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--text1);
    transition: 0.3 ease;
}
.header-actionMenu button:hover{
    color: var(--principal);
}
.headerMenuActiveButton {
    display: none;
}

/*MAIN*/
.ads{
    background-image: url(assets/banner.webp);
    background-position: center;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--principal);
}
.ads button {
    color: var(--principal);
    font: bold;
    font-size: 1.1rem;
    background-color: transparent;
    border-radius: 30px;
    padding: 1rem 3rem;
    border: var(--principal) solid 1px;
    cursor: pointer;
    transition: 0.5s ease;
}
.ads button:hover {
    background-color: var(--principal);
    color: var(--text1);
}
#productSection {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    width: 25rem;
    color: var(--text1);
}
.product-img {
    width: 100%;
}
.product-infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-infoContainer-info{
    display: flex;
    flex-direction: column;
}
.product .infoButton {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: var(--text1);
    cursor: pointer;
}
.product-infoContainer-title{
    margin: 0;
    width: max-content;
    overflow: scroll;
}
.product-infoContainer-price{
    margin: 0;
    color: var(--text1);
}
.product-buttonContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product-buttonContainer button {
    border: none;
    background-color: rgba(0, 0, 0, 0.027);
    width: 100%;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.product-buttonContainer .product-buyButton{
    border-bottom: solid 1px rgba(0, 0, 0, 0.123);
}
.product-buttonContainer button:hover {
    background-color: var(--principal);
}
/*PRODUCT DETAILS ABSOLUTE*/
.productDetailsBackground {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
}
.productDetails {
    z-index: 2;
    display: none;
    flex-direction: flex;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--fondo2);
    color: var(--text2);

    width: 60rem;
    height: fit-content;
}
.productDetails-infoContainer{
    width: 50%;
    padding: 1rem;
}
.productDetails-img{
    width: 50%;
}
.productDetails-closeButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: var(--text2);
    cursor: pointer;
    margin: 5px;
}
.productDetails-closeButton:active {
    transform: scale(0.9);
}

/*CART SECTION*/
.cartSection{
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--text2);
    height: 100vh;
    width: 30rem;
    display: flex;
    flex-direction: column;
    transition: ease-in-out 0.2s;
}
.cartSection-titleBox {
    background-color: var(--principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-shrink: 0;
}
.cartSection-productsBox {
    flex: 1 1 auto;
    padding: 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.cartSection-product{
    display: flex;
    width: 100%;
    height: fit-content;
}
.cartSection-product-img {
    width: 150px;
}
.cartSection-productInformation{
    display: flex;
    flex-direction: column;
}
.cartSection-product-stock{
    width: 3rem;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    border: none;
}
.cartSection-product-title{
    margin: 0;
}
.cartSection-buyBox {
    height: 10rem;
    background-color: var(--fondo1);
    padding: 1rem;
}
.cartSection-buyBox-buyButton{
    width: 100%;
    height: 3rem;
    background-color: black;
    color: var(--text2);
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.cartSection-buyBox-totalPrice{
    color: var(--text2);
}

@media (max-width: 1023px) {
    /*header*/
    #header {
        height: 7rem;
    }
    .header-navMenu {
        display: none;
    }
    .header-actionMenu {
        display: none;
    }
    .headerMenuActiveButton{
        display: flex;
    }
}