:root {
    --fondo1: #20201eff;
    --fondo2: #2c2c29;
    --text1: #3F3F3B;
    --text2: #EBEBEB;
    --principal: #F0D16A;
}

@font-face {
    font-family: DMSans;
    src: url('../assets/fonts/Bebas_Neue_DM_Sans/DM_Sans/DMSans-VariableFont_opszwght.ttf');
}

@font-face {
    font-family: Neue;
    src: url('../assets/fonts/Bebas_Neue_DM_Sans/Bebas_Neue/BebasNeue-Regular.ttf');
}

body {
    margin: 0;
    font-family: DMSans;
}
h1 {
    font-family: Neue;
}

/*HEADER*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: white;
}
.header-input{
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    padding: 0.5rem 1rem;
    width: 15rem;
}
.header-navMenu img {
    width: 10rem;
}
.header-navMenu ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 3rem;
}
.header-navMenu ul li a {
    text-decoration: none;
    color: var(--text1);
    font-size: 17px;
    transition: 0.3s ease;
}
.header-navMenu ul li:not(.header-img-li) a:hover {
    background-color: var(--principal);
}
.header-actionMenu {
    display: flex;
    gap: 1rem;
}
.header-actionMenu button {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--text1);
    transition: 0.3 ease;
}
.header-actionMenu button:hover{
    color: var(--principal);
}
.headerMenuActiveButton {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    transition: ease 0.1s;
}
.headerMenuActiveButton:active {
    transform: scale(0.8);
}
.header-responsiveMenu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--principal);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
    padding-top: 5rem;
}
.header-responsiveMenu a:not(.header-responsiveMenu-closeButton) {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding: 1.5rem 0;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.212);
}
.header-responsiveMenu a:hover {
    background-color: rgba(255, 255, 255, 0.075);
}
.header-responsiveMenu-closeButton {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1rem;
}

/*MAIN*/
.ads{
    background-image: url(../assets/banner.webp);
    background-position: center;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--principal);
}
.ads button {
    color: var(--principal);
    font: bold;
    font-size: 1.1rem;
    background-color: transparent;
    border-radius: 30px;
    padding: 1rem 3rem;
    border: var(--principal) solid 1px;
    cursor: pointer;
    transition: 0.5s ease;
}
.ads button:hover {
    background-color: var(--principal);
    color: var(--text1);
}
#productSection {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    margin-top: 5rem;
}

.product {
    width: 25rem;
    color: var(--text1);
}
.product-img {
    width: 100%;
}
.product-infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-infoContainer-info{
    display: flex;
    flex-direction: column;
}
.product .infoButton {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: var(--text1);
    cursor: pointer;
}
.product-infoContainer-title{
    margin: 0;
    width: max-content;
    overflow: scroll;
}
.product-infoContainer-price{
    margin: 0;
    color: var(--text1);
}
.product-buttonContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product-buttonContainer button {
    border: none;
    background-color: rgba(0, 0, 0, 0.027);
    width: 100%;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.product-buttonContainer .product-buyButton{
    border-bottom: solid 1px rgba(0, 0, 0, 0.123);
}
.product-buttonContainer button:hover {
    background-color: var(--principal);
}
/*PRODUCT DETAILS ABSOLUTE*/
.productDetailsBackground {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
}
.productDetails {
    z-index: 2;
    display: none;
    flex-direction: flex;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--fondo2);
    color: var(--text2);

    width: 60rem;
    height: fit-content;
}
.productDetails-infoContainer{
    width: 50%;
    padding: 1rem;
}
.productDetails-img{
    width: 50%;
}
.productDetails-closeButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: var(--text2);
    cursor: pointer;
    margin: 5px;
}
.productDetails-closeButton:active {
    transform: scale(0.9);
}

/*CART SECTION*/
.cartSection{
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--text2);
    height: 100vh;
    width: 30rem;
    display: flex;
    flex-direction: column;
    transition: ease-in-out 0.2s;
}
.cartSection-titleBox {
    background-color: var(--principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-shrink: 0;
}
.cartSection-productsBox {
    flex: 1 1 auto;
    padding: 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.cartSection-product{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 1rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.068);
}
.cartSection-product-img {
    width: 150px;
    border-radius: 10px;
}
.cartSection-productInformation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cartSection-product-name {
    font-size: 1.1rem;
    margin: 0;
}
.cartSection-product-price {
    margin: 0;
}
.cartSection-product-stock{
    width: 3rem;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    border: none;
}
.cartSection-product-title{
    margin: 0;
}
.cartSection-buyBox {
    height: 10rem;
    background-color: var(--fondo1);
    padding: 1rem;
}
.cartSection-buyBox-buyButton{
    width: 100%;
    height: 3rem;
    background-color: black;
    color: var(--text2);
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.cartSection-buyBox-totalPrice{
    color: var(--text2);
}
.closeCartButton {
    background-color: transparent;
    border:none;
    font-size: 1.2rem;
    transition: ease 0.5s;
    cursor: pointer;
}
.closeCartButton:hover {
    transform: translateX(5px);
    display: flex;
}

.cartSection-deleteProduct-button {
    border: none;
    font-size: 1.4rem;
    color: rgb(255, 180, 180);
    font: 900;
    position: absolute;
    top: 0;
    right: -7rem;
    height: 100%;
    background-color: #ffd6d6bd;
    width: 6rem;
    clip-path: polygon(0% 50%,25% 0%,100% 0%,100% 100%, 25% 100%,0% 50%);
    cursor: pointer;
    transition: 0.5s ease;
}
.cartSection-deleteProduct-button:hover {
    background-color: #ff4444bd;
}
.cartSection-product:hover .cartSection-deleteProduct-button{
    right: 0;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 2rem 2rem;
    padding: 8rem;
    border-top: solid 2px rgba(0, 0, 0, 0.116);
    background-color: white;
}
footer a{
    color: var(--fondo2);
}

/* CONTACT PAGE */
.contact-introduction {
    display: flex;
    width: 100%;
    background-color: var(--fondo2);
}
.contact-introduction-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    color: var(--text2);
}
.contact-introduction img {
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 100%;
}
.contact-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    transform: translateY(-2rem);
}
.contact-container article {
    width: 30rem;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    color: var(--text1);
    border: 1px solid;
    border-image: linear-gradient(180deg, white, rgba(0, 0, 0, 0.226)) 1;
}
.contact-container article i {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.contact-container article button {
    background-color: var(--principal);
    border: none;
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.contact-container article button a {
    text-decoration: none;
    color: var(--text1)
}

/* NOSOTROS */
.nosotros {
    display: flex;
    flex-direction: column;
}
.nosotros-imgDiv {
    height: 100vh;
    color: var(--text2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
.nosotros-imgDiv img {
    z-index: -2;
    position: fixed;
    top: -10rem;
}
.nosotros-historia{
    background-color: var(--fondo1);
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 5rem 1rem;
}
.nosotros-historia-info {
    color: var(--text2);
    max-width: 40rem;
}
.nosotros-historia-imgDiv img{
    max-width: 40rem;
}

.nosotros-historia-info-title {
    font-size: 2.5rem;
    position: relative;
    margin-top: 0;
}
.nosotros-equipo {
    background-color: var(--fondo1);
    display: flex;
    justify-content: center;
    padding: 5rem 1rem;
    color: var(--text2);
    gap: 3rem;
}
.nosotros-equipo-info {
    max-width: 40rem;
}
.nosotros-equipo-imgDiv img {
    max-width: 40rem;
}
.nosotros-equipo-info-title {
    font-size: 2.5rem;
    position: relative;
    margin-top: 0;
}
.nosotros-equipo-info-title::after, .nosotros-historia-info-title::after {
    position: absolute;
    content: "";
    bottom: 4px;
    background-color: var(--principal);
    left: 0;
    height: 2px;
    width: 7.2rem;
}
@media (max-width: 1200px) {
    .nosotros-historia{
        flex-direction: column;
        align-items: center;
    }
    .nosotros-historia-info{
        max-width: 50rem;
        text-align: center;
    }
    .nosotros-historia-info-title{
        text-align: start;
    }
    .nosotros-historia-imgDiv img {
        max-width: 100%;
    }
    .nosotros-equipo{
        flex-direction: column-reverse;
        align-items: center;
    }
    .nosotros-equipo-info{
        max-width: 50rem;
        text-align: center;
    }
    .nosotros-equipo-info-title{
        text-align: start;
    }
    .nosotros-equipo-imgDiv img {
        max-width: 100%;
    }
}


@media (max-width: 1023px) {
    /*header*/
    #header {
        height: 7rem;
    }
    .header-navMenu {
        display: none;
    }
    .header-actionMenu {
        display: none;
    }
    .headerMenuActiveButton{
        display: flex;
    }

    /*Product Details Card*/
    .productDetails {
        flex-direction: column;
        width: fit-content;
    }
    .productDetails-img {
        width: 100%;
    }
    .productDetails-infoContainer {
        width: 100%;
        padding: 1rem;
    }
    .productDetails-title {
        font-size: 1.4rem;
    }
    .productDetails-description{
        margin-right: 1rem;
    }
    .productDetails-closeButton {
        color: var(--text1);
    }

    /*contact page*/
    .contact-introduction {
        flex-direction: column;
        border-bottom-right-radius: 40%;
        gap: 2rem;
        padding-top: 5rem;
    }
    .contact-introduction img {
        border-radius: 0;
        border-bottom-right-radius: 40%;
    }
}
@media (max-width: 600px) {
    /*Product Details Card*/
    .productDetails {
        width: 80%;
    }

    /*Contact Page*/
    .contact-container {
        flex-direction: column;
        align-items: center ;
    }

    /*Nosotros page*/
    .nosotros-imgDiv-title{
        font-size: 4rem;
    }
}